{% verbatim %}
<script type="text/ng-template" id="confirm.html">
    <div class="modal-header" ng-class="{'modal-header-confirm': !editable}">
        <h3 class="modal-title">{{ title }} <i ng-show="!editable" class="pull-right fa fa-exclamation-circle fa-2x"></i></h3>
    </div>
    <div class="modal-body" ng-class="{'bg-danger': !editable}">
        <table class="table table-condensed">
            <caption>Confirmación de datos</caption>
            <tbody>
                <tr>
                    <th>CardHolder Name</td>
                    <td>{{ transaction['Cardholder Name'] }}</td>
                </tr>
            <tr>
                    <th>Card Number</td>
                    <td>{{ transaction['Card Number'] }}</td>
                </tr>
            <tr>
                    <th>Card Type</td>
                    <td>{{ transaction['Card Type'] }}</td>
                </tr>
            <tr>
                    <th>Amount</td>
                    <td>{{ transaction['Amount'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || isLoading">
            <i class="fa fa-spinner fa-spin" ng-show="isLoading"></i>
            <i class="fa fa-check" ng-show="form.$valid"></i>
            Confirmar
        </button>
        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    </div>
</script>
{% endverbatim %}