{% verbatim %}
<div class="modal-header" ng-class="{'modal-header-confirm': !editable}">
    <h3 class="modal-title">{{ title }} <i ng-show="!editable" class="pull-right fa fa-exclamation-circle fa-2x"></i></h3>

    <p class="text-info" ng-show="subtitle"><i class="fa fa-info-circle"></i> {{ subtitle }}</p>
</div>
<div class="modal-body" ng-class="{'bg-danger': !editable}">
    <form class="form-horizontal" name="form" role="form">
        <div class="form-group"
             ng-class="{'has-success': form.cardholder_name.$valid, 'has-error': form.cardholder_name.$invalid, 'has-feedback': form.cardholder_name.$valid}">
            <label for="cardholdersname" class="control-label col-sm-4">CardHolders Name</label>

            <div class="col-sm-7">
                <fdata-input ng-model="transaction.cardholder_name" name="cardholder_name" id="cardholdersname"
                             type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]+$/" maxlength="30" required
                             editable="{{ editable }}">
                </fdata-input>

                <span class="fa fa-check form-control-feedback" ng-show="form.cardholder_name.$valid"></span>
                <span class="help-block">The customer’s name.</span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.cc_number.$valid, 'has-error': form.cc_number.$invalid, 'has-feedback': form.cc_number.$valid}">
            <label for="cardnumber" class="control-label col-sm-4">Card Number</label>

            <div class="col-sm-7">
                <fdata-input ui-mask="9999 9999 9999 9999" ng-model="transaction.cc_number" id="cardnumber" type="text"
                             name="cc_number"
                             class="form-control" required editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.cc_number.$valid"></span>
                <span class="help-block">The customer’s credit card number.</span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.cvd_code.$valid, 'has-error': form.cvd_code.$invalid, 'has-feedback': form.cvd_code.$valid}">
            <label for="cvd_code" class="control-label col-sm-4">CVD Code</label>

            <div class="col-sm-7">
                <fdata-input ui-mask="999" ng-model="transaction.cvd_code" id="cvd_code" type="text"
                       name="cvd_code"
                       class="form-control" required editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.cvd_code.$valid"></span>
                <span class="help-block">Como testear CVD CODE <a
                            href="https://firstdata.zendesk.com/entries/407655-How-to-test-CVD-CVV-CVV2-functionality"
                            target="_blank">aquí</a> </span>
            </div>
        </div>

        <div class="form-group" ng-if="filtroPais.activo"
             ng-class="{'has-success': form.country.$valid, 'has-error': form.country.$invalid, 'has-feedback': form.country.$valid}">
            <label for="country" class="control-label col-sm-4">País de emisión de tarjeta</label>

            <div class="col-sm-7">
                <fdata-input ng-model="transaction.country" name="country" id="country" type="select"
                       class="form-control" required editable="{{ editable }}" choices="countries" check-country="{{ filtroPais.pais }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.country.$valid"></span>
                <span class="help-block" ng-show="form.country.$error.country_not_allowed">El pais {{ filtroPais.pais }} no permite transacciones.</span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.amount.$valid, 'has-error': form.amount.$invalid, 'has-feedback': form.amount.$valid}">
            <label for="dollaramount" class="control-label col-sm-4">Dollar Amount</label>

            <div class="col-sm-7">
                <fdata-input ng-model="transaction.amount" name="amount" id="dollaramount" type="text"
                       class="form-control" placeholder="Formato: 10,000.00" ng-pattern="/^[0-9]+([,]?[0-9]{3})?([.]?[0-9]{2})?$/" required editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.amount.$valid"></span>
                    <span class="help-block">For information on the highest dollar amounts allowed within GGe4, please <a
                                target="_blank"
                                href="https://firstdata.zendesk.com/entries/20730816-what-is-the-highest-transaction-amount-allowed-within-gge4">click
                            here</a>.</span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.cc_expiry.$valid, 'has-error': form.cc_expiry.$invalid, 'has-feedback': form.cc_expiry.$valid}">
            <label for="expirydate" class="control-label col-sm-4">Expiry Date</label>

            <div class="col-sm-7">
                <fdata-input type="text" expiry-date class="form-control" ng-model="transaction.cc_expiry"
                       name="cc_expiry" required editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.cc_expiry.$valid"></span>
                <span class="help-block">The credit card expiry date in the format MM/YY.</span>
                <span class="help-block" ng-show="form.cc_expiry.$error.expiry_date_before">La fecha no puede ser inferior a la actual</span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.reference_no.$valid, 'has-error': form.reference_no.$invalid, 'has-feedback': form.reference_no.$valid}">
            <label for="reference_no" class="control-label col-sm-4">Ref. Number</label>

            <div class="col-sm-7">
                <fdata-input type="text" maxlength="20" class="form-control" ng-model="transaction.reference_no"
                       name="reference_no" required editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.reference_no.$valid"></span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-success': form.email.$valid, 'has-error': form.email.$invalid, 'has-feedback': form.email.$valid}">
            <label for="email" class="control-label col-sm-4">E-Mail</label>

            <div class="col-sm-7">
                <fdata-input type="email" class="form-control" ng-model="transaction.email"
                       name="email" editable="{{ editable }}"></fdata-input>
                <span class="fa fa-check form-control-feedback" ng-show="form.email.$valid"></span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || isLoading">
        <i class="fa fa-spinner fa-spin" ng-show="isLoading"></i>
        <i class="fa fa-check" ng-show="form.$valid"></i>
        Enviar datos
    </button>
    <button class="btn btn-danger" ng-click="cancel()" ng-disabled="isLoading">Salir</button>
</div>
{% endverbatim %}
