<!DOCTYPE html>
<html ng-app="firstdata">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}FirstData - Transactions Grid{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
            "css/vendor/*"
            "css/main.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="padding-top: 70px">
{% block body %}{% endblock %}
{% block javascripts %}

    {% javascripts
        "js/vendor/jquery-1.11.1.min.js"
        "js/vendor/underscore-min.js"
        "js/vendor/moment.min.js"
        "js/vendor/numeral.min.js"
        "js/vendor/pnotify.custom.min.js"
        "js/vendor/lazy.js"
        "js/vendor/angular.min.js"
        "js/vendor/*"
        "components/angular-sanitize/angular-sanitize.min.js"
        "components/angular-ui-router/release/angular-ui-router.min.js"
        "bundles/fosjsrouting/js/router.js"
        "js/fos_js_routes.js"
        "js/app.js"
        "js/session.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

<script type="text/ng-template" id="splash.html">
    <section class="splash" ng-class="{'splash-open': animate}" ng-style="{'z-index': 1000, display: 'block'}"
             ng-click="close($event)">
        <div class="splash-inner">
            <div class="splash-content text-center">
                <p class="lead" ng-bind="message"></p>'
            </div>
        </div>
    </section>
</script>

<script type="text/ng-template" id="app.html">

    <div ng-controller="TransactionCtrl">
        <div class="panel panel-info" id="transactions" ng-controller="TransactionCtrl">
            <div class="panel-heading">
                <h3 ng-init="subtitle=''" class="panel-title"><i class="fa fa-database"></i> TRANSACCIONES <span ng-bind-html="subtitle"></span> <button ng-if="insideLog" ng-click="back()" id="back-button" class="btn btn-default btn-sm"><i class="fa fa-caret-left"></i> Volver</button> </h3>
            </div>
            <div class="panel-body" id="table-info">
                <div class="table-header-info">
                    <div class="row">
                        <div class="col-md-1 bg-primary information">
                            <i class="fa fa-th"></i> Total: <span
                                    id="total-transactionss">{% verbatim %} {{ total }} {% endverbatim %}</span>
                        </div>
                        <div class="col-md-2 bg-primary information">
                            <i class="fa fa-th"></i> Amount: $<span
                                    id="total-amouts">{% verbatim %} {{ totalAmount }} {% endverbatim %}</span>
                        </div>

                        <div class="col-md-4 bg-primary information">
                            <form method="get" class="form-panel-body">
                        <span class="col-md-4">
                            <div class="input-group">
                                <input {% if is_granted('ROLE_SOLO_OP_DIA') %} disabled="disabled" {% endif %}  type="text" class="form-control form-control-date" datepicker-popup="dd/MM/yyyy"
                                       ng-model="search.from" is-open="datepickerFromOpened" max-date="maxDateFrom"
                                       ng-change="changeMin()"
                                       datepicker-append-to-body="true"
                                       placeholder="Desde..."/>

                                <div class="input-group-btn">
                                    <button {% if is_granted('ROLE_SOLO_OP_DIA') %} disabled="disabled" {% endif %} type="button" class="btn btn-default"
                                            ng-click="openDatepickerFrom($event)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </span>

                        <span class="col-md-4">
                            <div class="input-group">
                                <input {% if is_granted('ROLE_SOLO_OP_DIA') %} disabled="disabled" {% endif %} type="text" class="form-control form-control-date" datepicker-popup="dd/MM/yyyy"
                                       is-open="datepickerToOpened"
                                       datepicker-append-to-body="true" min-date="minDateTo" ng-change="changeMax()"
                                       max-date="maxDateTo" placeholder="Hasta..."
                                       ng-model="search.to"/>

                                <div class="input-group-btn">
                                    <button {% if is_granted('ROLE_SOLO_OP_DIA') %} disabled="disabled" {% endif %} type="button" class="btn btn-default"
                                            ng-click="openDatepickerTo($event)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </span>

                                <button {% if is_granted('ROLE_SOLO_OP_DIA') %} disabled="disabled" {% endif %} type="submit" class="btn btn-default" ng-disabled="isLoading || {{ is_granted('ROLE_SOLO_OP_DIA')|default(0)}}"
                                        ng-click="search(search)">
                                    <i class="fa fa-search"></i> Buscar
                                </button>

                            </form>
                        </div>

                        <div class="col-md-5 bg-primary information">
                            {% if is_granted(expression("'ROLE_NEW_TRANSACTION' in roles or 'ROLE_PRE_AUTH' in roles or 'ROLE_REFUND' in roles or 'ROLE_EXPORT_CSV' in roles")) %}
                                <span class="pull-right action">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                {% if is_granted('ROLE_NEW_TRANSACTION') %}
                                    <button class="btn btn-default"
                                            ng-click="openForm('newTransaction', 'New Transaction')"
                                            ng-disabled="isLoading"><i
                                                class="fa fa-plus-square"></i> New transaction
                                    </button>
                                {% endif %}
                                {% if is_granted('ROLE_PRE_AUTH') %}
                                    <button class="btn btn-default" ng-click="openForm('preAuth', 'Pre-Authorization')"
                                            ng-disabled="isLoading"><i class="fa fa-key"></i>
                                        Pre-Auth
                                    </button>
                                {% endif %}
                                {% if is_granted('ROLE_REFUND') %}
                                    <button class="btn btn-default" ng-click="openForm('refund', 'Refund')"
                                            ng-disabled="isLoading"><i
                                                class="fa fa-mail-reply"></i>
                                        Refund
                                    </button>
                                {% endif %}
                            </div>
                            {% if is_granted('ROLE_EXPORT_CSV') %}
                                <div class="btn-group">
                                    <a class="btn btn-default" ng-click="exportCSV()" ng-disabled="isLoading">
                                        <i class="fa fa-file-text"></i>
                                        Export CSV
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <firstdata-grid total="total" subtitle="subtitle" inside-log="insideLog" rows="rows" total-amount="totalAmount " grid="grid"></firstdata-grid>
            </div>
        </div>
    </div>
</script>

</body>
</html>
