<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 0;
        }

        .page {
            font-family: Consolas, 'Liberation Mono', Courier, monospace;
            width: 210mm;
            max-width: 210mm;
            min-height: 297mm;
            max-height: 297mm;
            padding: 20mm;
            margin: 0 auto;
            background: white;
        }

        .gerencia {
            min-height: 148.5mm;
            max-height: 148.5mm;
            border-bottom: 1px dashed;
            margin: 0;
            padding: 0
        }

        .head-tag {
            float: left;
            width: 50mm;
        }

        .head-legend {
            float: left;
            width: 110mm;
        }

        .head-date {
            float: left;
        }

        .label {
            border-radius: 0.25em;
            color: #fff;
            display: inline;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            padding: 0.2em 0.6em 0.3em;
            text-align: center;
            vertical-align: baseline;
            white-space: nowrap;
        }

        .label-default {
            background-color: #999;
        }

        .text-muted {
            color: #999;
        }

        p {
            margin: 0 0 10px;
        }

        .info th {
            text-align: left;
        }

        .info td {
            padding-left: 25px;
        }

    </style>
</head>
<body>
<div class="page">
    <div class="gerencia">
        <div class="row">
            <div class="head-tag">
                <small>Transaction: {{ tag }}</small>
            </div>
            <div class="head-legend">
                <small>Formulario de autorización de tarjeta de crédito</small>
            </div>
            <div class="head-date">
                <small>{{ "now"|date('d/m/Y H:i:s') }}</small>
            </div>

        </div>
        <br/>

        <h1>Credit card authorization</h1>
        <strong>{{ hotel }} - {{ web }}</strong>

        <p>{{ direccion }} - Tel: {{ telefono }}</p>

        <p class="text-muted">
            <small>Please print out and complete this authorization and return to us (All information will remain
                confidential)
            </small>
        </p>
        <hr/>
        <table class="info">
            <tbody>
            <tr>
                <th>Card holder name</th>
                <td>{{ cardholder }}</td>
            </tr>
            <tr>
                <th>Email account</th>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <th>Credit card type</th>
                <td>{{ creditcardtype }}</td>
            </tr>
            <tr>
                <th>Credit card number#</th>
                <td>{{ creditcardnumber }}</td>
            </tr>
            <tr>
                <th>Expiration date</th>
                <td>{{ expirydate }}</td>
            </tr>
            <tr>
                <th>Amount $</th>
                <td>{{ amount }}</td>
            </tr>

            </tbody>
        </table>
        <hr/>
        <p class="text-muted">
            <small>Please be advice, this transaction will appear as 911 Booking Corp in your credit card monthly
                statement.
            </small>
        </p>

        <div style="margin-top: 60px;">
            <div class="row">
                <div style="text-align: center">
                    <strong>Signed:..............................</strong>
                    <strong>Dated:..............................</strong>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <div class="row">
                <div style="text-align: center">
                    <strong>Identity document (number and type):..........................................</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="cliente">
        <h1>Credit card authorization <span class="label label-default">Copy for customer</span></h1>
        <strong>{{ hotel }} - {{ web }}</strong>

        <p>{{ direccion }} - Tel: {{ telefono }}</p>

        <p class="text-muted">
            <small>Please print out and complete this authorization and return to us (All information will remain
                confidential)
            </small>
        </p>
        <hr/>
        <table class="info">
            <tbody>
            <tr>
                <th>Card holder name</th>
                <td>{{ cardholder }}</td>
            </tr>
            <tr>
                <th>Credit card type</th>
                <td>{{ creditcardtype }}</td>
            </tr>
            <tr>
                <th>Credit card number#</th>
                <td>{{ creditcardnumber }}</td>
            </tr>
            <tr>
                <th>Amount $</th>
                <td>{{ amount }}</td>
            </tr>
            <tr>
                <th>Dated</th>
                <td>{{ "now"|date('d/m/Y H:i:s') }}</td>
            </tr>

            </tbody>
        </table>
        <hr/>
        <p class="text-muted">
            <small>Please be advice, this transaction will appear as 911 Booking Corp in your credit card monthly
                statement.
            </small>
        </p>
    </div>
</div>
</body>
</html>